doctype 
html(lang="es")
    head 
        meta(charset="UTF-8")
        tittle Attributes 
        link(rel="stylesheet", href="../css/master.css")
    body 
        nav.controls 
            a(href="../index.html")
        main 
            header 
                h1 Attributes
            section 
                a(
                    href="http://www.google.com",
                    target="_blank"
                ) Go to Google
                | &nbsp; | &nbsp;
                a(
                    class="link",
                    href="https://youtube.com",
                    target="_blank"
                ) Go to Youtube